<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>LIFF Starter</title>
    <link rel="stylesheet" href="/static/index/style.css">
</head>

<body>

    <div>
        <form class="login" onsubmit='return onSubmit(this)'>
            <input id='outputName' name='name' placeholder='姓名'><br>
            <input id='outputEmail' name='email' type='email' placeholder='信箱'><br>
            <input id='outputFacebook' name='Facebook' type='url' placeholder='臉書網址'><br>
        </form>
        <button id='sendAJAX'>送出</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/static/index/liff-starter.js"></script>
</body>